@model Restaurant
@{
    ViewData["Title"] = "Edit Restaurant";
    List<RestaurantImage> restaurantImages = ViewBag.Images;
    RestaurantImage mainImage = restaurantImages.FirstOrDefault(x => x.IsMainImage == true);

}


<div class="container">
    <h1>Edit</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input type="text" asp-for="Address" class="form-control" placeholder="Address">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryFee">Delivery Fee</label>
            <input type="number" asp-for="DeliveryFee" class="form-control" placeholder="Delivery Fee">
            <span class="text-danger" asp-validation-for="DeliveryFee"></span>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose restaurant's category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
            </select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Add discount</label>
            <select class="form-control" asp-for="CampaignId" asp-items="@(new SelectList(ViewBag.Campaigns,"Id","DiscountPercent"))">
                <option selected value="">Select discount percent</option>
            </select>
            <span class="text-danger" asp-validation-for="CampaignId"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <input class="form-check-input" asp-for="HasDelivery">
                <label class="form-check-label" asp-for="HasDelivery">Has Delivery</label>
            </div>
            <div class="form-group col-4">
                <input class="form-check-input" asp-for="HasTakeAway">
                <label class="form-check-label" asp-for="HasTakeAway">Has TakeAway</label>
            </div>
            <div class="form-group col-4">
                <input class="form-check-input" asp-for="IsRecommended">
                <label class="form-check-label" asp-for="IsRecommended">Is Recommended</label>
            </div>
            <span class="text-danger" asp-validation-for="HasDelivery"></span>
        </div>
        @if (mainImage != null)
        {
            <div class="form-group">
                <div class="img-box d-inline-block" style="position:relative;max-width:150px">
                    <img src="~/uploads/restaurants/@mainImage.Image" style="max-width:150px" />
                </div>
                <label class="d-block">Main image</label>
                <input type="file" asp-for="MainImage" />
                <span class="text-danger" asp-validation-for="MainImage"></span>
            </div>
        }

        <div class="form-group">
            <div>
                @foreach (var item in restaurantImages.Where(x => x.IsMainImage != true))
                {
                    <div class="img-box d-inline-block" style="position:relative">
                        <i class="fas fa-times img-remove" style="position: absolute; top: 8px;font-size: 1.2rem; color: white;right: 8px;"></i>
                        <img src="~/uploads/restaurants/@item.Image" style="max-width:100px" />
                        <input type="hidden" name="ImageIds" value="@item.Id" />
                    </div>
                }
            </div>
            <label class="d-block">Other images</label>
            <input type="file" asp-for="Images" />
            <span class="text-danger" asp-validation-for="Images"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts{

    <script>
    $(document).ready(function () {
        $(document).on("click", ".img-remove", function () {
            $(this).parent().empty()
        })
    });
    </script>
}



