@model ForgotPasswordViewModel
@{
    ViewBag.HeaderClass = "white-header";
}

<!-- SIGN IN FORM -->
<main class="sign-in my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="sign-in-form my-5">
                    <h2>Forgot Password</h2>
                    <small style="display: inline-block;text-align: center;">Please check your email after clicking the submit button. We will send you a link to reset your password.</small>
                    <form method="post" autocomplete="off" class="mt-4">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group mb-3">
                            <i class="fas fa-lock"></i>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
