@model MealType
@{
    ViewData["Title"] = "Create New Meal Type";
}


<div class="container">
    <h1>Create</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Order">Order</label>
            <input type="text" asp-for="Order" class="form-control" placeholder="Choose meals' order on the menu">
            <span class="text-danger" asp-validation-for="Order"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



